.App {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Counter {
  font-size: 2rem;
  font-weight: bold;

  margin: 300px auto;
  margin-bottom: 30px;
  text-align: center;
}

.BtnContainer {
  display: flex;
}

.btnStyle {
  border: none;
  padding: 2.5rem;
  width: 50%;
  margin: 3rem;
}
